
.AlpacaIconText
{
    font-size: 10px;
    margin-top: 5px;
    color:white;
    }

.AlpacaIcon{ 
    font-size: 25px;
    margin-top: 5px;
    color:white;
    
}


.AlpacaIconBig{
    font-size: 30px;
    margin-top: 14%;
    color:white;
}

.buybtn{
    margin: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    font-size: 40px;
}



.recomended_item {
    padding-left: 10px;
}

.recomended_item_title {
    font-size: 14px;
    font-weight: bold;
}

.thumbnail {
    width: 150px;
    height: 150px;
    display: table;
}

.recomended_list {
    height: 170px;
}

